.name,
#header .title {
  font-size: 16px;
  color: #ff6700;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /*多行超出省略*/
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5;
}
#header:after {
  content: "Less is more!";
}
#header .title {
  color: #ff6700;
  font-weight: bold;
}
#header_content {
  margin: 20px;
}
