.site-header {
  height: 4.69vw;
  border-bottom: 1px solid #dde2e5;
  img {
    width: 4.9vw;
  }
  p {
    span {
      cursor: pointer;
      color: #808ca3;
      font-size: 18px;
      margin-right: 0.94vw;
    }
    button {
      padding: 0.52vw 0.78vw;
      background: #808ca3;
      border-radius: 4px;
      font-size: 18px;
      color: #fff;
      border: none;
      line-height: 1;
    }
  }
  > div {
    > i {
      color: #f9c50e;
      margin-right: 24px;
    }
    ::v-deep(.el-avatar) {
      width: 46px;
      height: 46px;
    }
  }
}